:root {
    --text-color: rgb(127, 114, 114);
    --hover-color: rgb(145, 230, 254);
    --lighter-hover-color: rgb(63, 202, 240);
    --nav-color: snow;
}

.fp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 478px;
    width: 468px;
    background-color: var(--nav-color);
    box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 1);
    margin-top: 140px;
    position: relative;
    border-radius: 10px;
    margin-left: 35%;
}

.fp-form {
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
}