:root {
    --text-color: rgb(127, 114, 114);
    --hover-color: rgb(145, 230, 254);
    --lighter-hover-color: rgb(63, 202, 240);
    --nav-color: snow;
}

.background {
    background-color: #595959;
    background-size: repeat;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.checkmark {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 165px;
    margin-left: 145px;
}

.no-checkmark {
    height: 0px;
    width: 0px;
    position: absolute;
}

.container {
    background-color: #fff;
    box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    width: 768px;
    min-height: 550px;
    margin-top: 7.5%;
    margin-left: 25%;
    display: flex;
}

.container-register {
    background-color: #fff;
    box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    width: 768px;
    min-height: 550px;
    margin-top: 5.5%;
    margin-left: 25%;
    display: flex;
}

.employmently-logo-letters {
    width: 50%;
}

.log-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
    background-color: var(--hover-color);
}

.form-input {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
}


.form-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 85px 0 85px;
    text-align: center;
}

input {
    background-color: #EDEDEE;
    border: none;
    padding: 12px 25px;
    margin: 7px 0;
    margin-left: 2px;
}

.input-login {
    background-color: #EDEDEE;
    border: none;
    padding: 12px 25px;
    margin: 7px 0;
    width: 100%;
    margin-left: -22px;
    box-sizing: content-box;
}

button[type=submit] {
    background-color: var(--lighter-hover-color);
    color: white;
    padding: 9px 50px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--hover-color);
}

button[type=submit]:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(125, 116, 116);
}

a.btn {
    background-color: var(--lighter-hover-color);
    color: white;
    padding: 10px 25px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--hover-color);
    text-decoration: none;
}

a.btn-reg {
    background-color: var(--lighter-hover-color);
    color: white;
    padding: 10px 25px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--hover-color);
    text-decoration: none;
}

a.btn-frgtpass {
    color: var(--lighter-hover-color);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    margin-left: 112px;
}

a.btn-frgtpass:hover {
    color: black;
    transition: all 1s linear;
}


a.btn:hover {
    font-size: 18px;
}

.err {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: 1.7px solid red;
    padding: 3%;
    background-color: red;
    color: white;
    width: 100%;
}

.err-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: 1.7px solid red;
    padding: 3%;
    background-color: red;
    color: white;
    margin-top: -10%;

}

.suc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    border: 1.7px solid rgb(64, 255, 0);
    padding: 3%;
    margin-left: 5%;
    background-color: rgb(64, 255, 0);
    color: white;
    width: 100%;
}

.login-span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"]~span {
    display: block;
}

.line-or {
    margin-top: 9.5px;
    margin-left: 7px;
    margin-right: 7px;

}

.div-or {
    display: flex;
    flex-direction: row;
}

.div-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-signup {
    color: var(--lighter-hover-color);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.btn-signup:hover {
    color: black;
    transition: all 1s linear;
}

.new {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    padding: 0px 2px;
}

.header-signup {
    color: black;
    font-family: 'Rockwell';
    font-size: 14.5px;
}

.text-signup {
    color: black;
    font-family: 'Rockwell';
    font-size: 14px;
    width: 85%;
    margin-top: -7px;
}

.text-signup-reg {
    color: black;
    font-family: 'Rockwell';
    font-size: 14px;
    margin-top: -7px;
}


.job-photo {
    width: 100%;
    height: 50%;
}

/* Media query for mobile version of site */
@media only screen and (max-width: 920px) {
    .signup-container {
        display: none;
    }

    .container {
        width: 70%;
        margin-left: 17%;
        margin-top: 50%;
    }

    .log-container {
        width: 100%;
    }

    .form-input {
        padding: 0;
    }

    .container-register {
        width: 90%;
        margin-top: 50%;
        margin-left: 5%;
    }

    .err-login {
        margin-bottom: 5%;
    }



}

.acc-type {
    font-family: 'Rockwell';
    color: currentcolor;
    font-size: 19px;
}

.acc-type-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 1rem;
}


.candidate-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    background: white;
}

.paragraph-candidates {
    margin-bottom: 10px;
}

.handshake-image {
    position: relative;
    width: 300px;
    height: 170px;
}